<% if (site.tags.length){ %>
<div class="card main-sidebar--widget">
  <div class="card-header main-sidebar--widget-header"><%= __('tags') %></div>
  <%- list_tags({show_count: theme.show_count}) %>
</div>
<% } %>