<% if (pagination == 2) { %>
  <% page.posts.each(function(post, i){ %>
    <% if (i % 2 == 0) { %>
        <% if (i > 0) { %>
          </div>
          <div class="row">
        <% } else { %>
          <div class="row">
        <% } %>
      <% } %>
    <%- partial('article', {post: post, index: true}) %>
  <% }) %>
<% } else { %>
  <% var last; %>
  <% page.posts.each(function(post, i){ %>
    <% var year = post.date.year(); %>
    <% if (last != year){ %>
      <% if (last != null){ %>
        </div></section>
      <% } %>
      <% last = year; %>
      <section class="archives-wrap">
        <div class="archive-year-wrap">
          <div class="archive-year"><%= year %></>
        </div>
        <div class="archives">
    <% } %>
   <%- partial('archive-post', {post: post, even: i % 2 == 0}) %>
  <% }) %>
  <% if (page.posts.length){ %>
    </div></section>
  <% } %>
<% } %>
<% if (page.total > 1){ %>
  <div class="container">
    <nav id="page-nav">
      <ul class="pagination">
        <% var prev_text = "&laquo; " + __('prev');var next_text = __('next') + " &raquo;"%>
        <%- paginator({
          prev_text: prev_text,
          next_text: next_text
        }) %>
      </ul>
    </nav>
  </div>
<% } %>