<footer class="container footer">
  <hr class="hr-nav">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="d-flex justify-content-between align-items-center">
  	<div class="footer-copyright">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
	</div>
	<div class="footer-themes">
      Themes <a href="https://github.com/salnhan/hexo-theme-rockon-blog" target="_blank">rockon-logs</a>
	</div>
	<div class="footer-hexo">
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  	</div>
  </div>
</footer>