<footer class="footer">
  <% if (theme.sidebar === 'bottom'){ %>
    <%- partial('_partial/sidebar') %>
  <% } %>
  <div class="d-flex justify-content-between align-items-center">
  	<div class="footer-copyright">
      &copy; <%= date(new Date(), 'YYYY') %> <%= config.author || config.title %>
	</div>
	<div class="footer-themes">
      Themes rockon-blogs
	</div>
	<div class="footer-hexo">
      <%= __('powered_by') %> <a href="http://hexo.io/" target="_blank">Hexo</a>
  	</div>
  </div>
</footer>